@{
    ViewData["Title"] = "Home Page";
}

<h2>Usuarios</h2>

<div class="row">
    @foreach (var usuario in Model)
    {
        <div class="col-md-4">
            <div class="card-mb-3">
                <div class="card-body">
                    <h5 class="card-title">@usuario.Nombre</h5>
                    <p class="card-text">@usuario.Telefono</p>
                    <p class="card-text">@usuario.Correo</p>
                    <p class="card-text">@usuario.Direccion</p>
                    <p class="card-text">@usuario.FechaRegistro</p>
                </div>
            </div>
        </div>
    }
</div>


